<div class="flex flex-wrap gap-3 p-fluid">
  <div class="flex-auto">
    <p-floatLabel>
      <p-dropdown
          [options]="stations"
          [(ngModel)]="selectedStation"
          optionLabel="name"
          placeholder="Station auswählen ..."
          (onChange)="onStationSelect($event)"
          inputId="stationSelect" />
      <label for="stationSelect">Station auswählen ...</label>
    </p-floatLabel>
  </div>
  <div class="flex-auto">
    <p-floatLabel>
      <p-multiSelect
          [options]="selectedStation?.availableComponents"
          [(ngModel)]="selectedComponents"
          optionLabel="name"
          placeholder="Komponenten auswählen ..."
          [maxSelectedLabels]="1"
          selectedItemsLabel="{0} Komponenten ausgewählt"
          inputId="componentSelect" />
      <label for="componentSelect">Komponenten auswählen ...</label>
    </p-floatLabel>
  </div>
  <div class="flex-auto">
    <p-floatLabel>
      <p-calendar
          [(ngModel)]="dateRange"
          selectionMode="range"
          dateFormat="dd.mm.yy"
          [maxDate]="today"
          [readonlyInput]="false"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="dateInput"/>
      <label for="dateInput">Zeitraum auswählen ...</label>
    </p-floatLabel>
  </div>
  <div class="flex-auto">
    <p-floatLabel>
      <p-dropdown
        [options]="averageOptions"
        [(ngModel)]="selectedAverage"
        optionLabel="name"
        placeholder="Mittelwert auswählen ..."
        inputId="averageSelect"/>

    </p-floatLabel>
  </div>
  <div class="flex-auto">
    <p-button label="Abrufen" (onClick)="gatherData()" [disabled]="!selectedStation || !selectedComponents
                                                                   || selectedComponents.length == 0 || !dateRange
                                                                   || dateRange.length < 1 || !selectedAverage"/>
  </div>
</div>

<p-dialog
  [modal]="true"
  [(visible)]="loading"
  [closable]="false"
  [dismissableMask]="false"
  [closeOnEscape]="false"
  [style]="{ width: '250px', height: '250px'}">
  <div class="loading-box">
    <div>
      <span>
        <i class="pi pi-spin pi-spinner"></i>
      </span>
      <span>Daten werden geladen ...</span>
    </div>
  </div>
</p-dialog>