.x-selection {
    padding: 30px 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.0196078431), 0 0 2px rgba(0, 0, 0, 0.0509803922), 0 1px 4px rgba(0, 0, 0, 0.0784313725);
}

.x-chart-wrapper {
    width: 100%;
    height: 100%;
}