<luis-topbar></luis-topbar>

<div class="grid">
  <div class="row">
    <div class="col full">
      <luis-selection></luis-selection>
    </div>
  </div>

  <div class="row">
    <div class="col half">
      <luis-preview-table></luis-preview-table>
    </div>
  
    <div class="col half">
      <luis-preview-chart></luis-preview-chart>
    </div>
  </div>
</div>



<!-- <h1>Beispieldownload</h1>
<select (change)="onStationSelected($event)">
  <option value="" disabled selected hidden>Wählen Sie eine Station aus...</option>
  <option *ngFor="let station of stations.keys()">{{ station }}</option>
</select>
<select>
  <option value="" disabled selected hidden>Wählen Sie eine Komponente aus...</option>
  <option *ngFor="let station of components.keys()">{{ station }}</option>
</select>

<div #container></div> -->
