<luis-topbar></luis-topbar>

<div class="grid">
  <div class="row">
    <div class="col full">
      <div class="card flex flex-wrap gap-3 p-fluid py-6">
        <luis-selection></luis-selection>
        <div class="flex gap-3">
          <div class="flex-auto">
            <p-floatLabel>
              <p-dropdown
                [options]="fileTypes"
                [(ngModel)]="selectedFiletype"
                [disabled]="!dataGathered"
                optionLabel="name"
                placeholder="Dateityp auswählen ..."
                inputId="filetypeSelect" />
            </p-floatLabel>
          </div>
          <p-button label="Herunterladen" (onClick)="downloadData(selectedFiletype?.code)" [disabled]="!dataGathered"/>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col half">
      <luis-preview-table></luis-preview-table>
    </div>

    <div class="col half">
      <luis-preview-chart></luis-preview-chart>
    </div>
  </div>
</div>

<p-toast></p-toast>