/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
  font-family: 'Chau Philomene';
  src: url('assets/fonts/Chau_Philomene_One/ChauPhilomeneOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
    --border-color: #e0e0e0;
    --topbar-height: 5rem;
}

* {
  font-family: 'Roboto', serif;
  color: #333333;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Chau Philomene', serif;
}
luis-root {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
luis-selection{
  width: 100%;
}
p-multiselect > div{
  min-width: 100% !important;
}
.p-tooltip .p-tooltip-text{
  background: #55ab41;
  color: #000000;
}
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: #55ab41;
}
.p-button{
  background: #55ab41;
  border: 1px solid #55ab41;
}
.year-selection .p-button{
  background: transparent;
  border: 1px solid transparent;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #55ab41;
  background: #55ab41;
}
.card {
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid var(--border-color);

    &.preview {
      height: 100%;
      min-height: 400px;
    }
}
.d-none{
    display: none;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  height: calc(100% - var(--topbar-height));

  > .row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping within rows */
    width: 100%;

    &:first-child {
      height: auto; /* Use auto height for better responsiveness */
    }

    > .col {
      flex: 1 1 100%; /* Default: Full width for small screens */

      &.full {
        width: 100%;
        height: auto; /* Use auto to handle height naturally */
      }

      &.half {
        flex: 1 1 50%; /* Half width */
      }
    }
  }
}

/* Responsive Design with Media Queries */

/* Tablets: 600px and up */
@media (min-width: 600px) {
  .grid > .row > .col.half {
    flex: 1 1 50%; /* Half width on tablets */
  }
}

/* Desktops: 900px and up */
@media (min-width: 900px) {
  .grid > .row > .col.half {
    flex: 1 1 33.33%; /* Third width on larger screens */
  }

  luis-root {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
